<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Hillsong Worship</h1>

      <div class="header-links">
        <a href="/">Home</a>
        <a href="/discography">Discography</a>
        <a href="/about">About</a>
      </div>
    </header>
    <p class="text-about">
      Hillsong Worship released its first album, Spirit and Truth, in 1988.
      Then, Show Your Glory in 1990, The Power of Your Love in 1992, Stone's
      Been Rolled Away in 1993, People Just Like Us in 1994, Friends in High
      Places in 1995, Shout to the Lord (their first album in partnership with
      Integrity Music as part of the Hosanna! Music series) in 1996, God Is in
      the House in 1996, All Things Are Possible in 1997, and Touching Heaven
      Changing Earth in 1998, By Your Side in 1999, For This Cause in 2000, You
      Are My World in 2001, Blessed in 2002, Hope in 2003, For All You've Done
      in 2004, God He Reigns in 2005, Mighty to Save in 2006, Saviour King in
      2007, This Is Our God in 2008, Faith + Hope + Love in 2009, A Beautiful
      Exchange in 2010, God Is Able in 2011, Cornerstone in 2012, Glorious Ruins
      in 2013, No Other Name, their first as Hillsong Worship, in 2014, Open
      Heaven / River Wild in 2015, Let There Be Light in 2016, The Peace Project
      in 2017, There Is More in 2018 and Awake in 2019. All of the group's
      albums since 2004 have been charted in Australia. The group has also seen
      twelve albums chart on the Billboard magazine charts, where there have
      been placements on the Christian Albums and the Heatseekers Albums charts
      (those were For All You've Done, God He Reigns, and Mighty to Save).
      Their albums Saviour King, This Is Our God, Faith + Hope + Love, A
      Beautiful Exchange, God Is Able, Cornerstone, Glorious Ruins, No Other
      Name, and Open Heaven / River Wild have charted on the Billboard 200 and
      Christian Albums charts. Two of their albums, For All You've Done and
      Open Heaven / River Wild, have reached number one on the Australian ARIA
      Albums Chart. In 2018, Hillsong Worship won the Grammy Award for Best
      Contemporary Christian Music Performance/Song with "What a Beautiful
      Name". Their albums have been recorded by the labels Hillsong Music, Sony
      Music, Integrity Music, Epic Records, Columbia Records, and Sparrow
      Records.
    </p>
  </body>
</html>
