<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Hillsong Worship</h1>

      <div class="header-links">
        <a href="/">Home</a>
        <a href="/discography">Discography</a>
        <a href="/about">About</a>
      </div>
    </header>

    <p class="index-text">
      Hillsong Worship is an Australian praise and worship group from Sydney,
      Australia, where they started making music in 1983 at Hillsong Church.
      Fifteen of their songs have appeared on the Billboard magazine charts in
      the US, with "What a Beautiful Name" representing their greatest success,
      reaching platinum in the US.
    </p>
    <iframe src="https://www.youtube.com/embed/nQWFzMvCfLE"> </iframe>
  </body>
</html>
