<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Hillsong Worship</h1>

      <div class="header-links">
        <a href="/">Home</a>
        <a href="/discography">Discography</a>
        <a href="/about">About</a>
      </div>
    </header>

    <h2>Discography</h2>
    
    <div class="list-works">
      <ul>
        <li>Spirit and Truth (1988)</li>
        <li>Show Your Glory (1990)</li>
        <li>The Power of Your Love (1992)</li>
        <li>Stone's Been Rolled Away (1993)</li>
        <li>People Just Like Us (1994)</li>
        <li>Friends in High Places (1995)</li>
        <li>God Is in the House (1996)</li>
        <li>All Things Are Possible (1997)</li>
        <li>Touching Heaven Changing Earth (1998)</li>
        <li>By Your Side (1999)</li>
        <li>For This Cause (2000)</li>
        <li>You Are My World (2001)</li>
        <li>Blessed (2002)</li>
        <li>Hope (2003)</li>
        <li>For All You've Done (2004)</li>
        <li>God He Reigns (2005)</li>
      </ul>
      
      <ul>
        <li>Mighty to Save (2006)</li>
        <li>Saviour King (2007)</li>
        <li>This Is Our God (2008)</li>
        <li>Faith + Hope + Love (2009)</li>
        <li>A Beautiful Exchange (2010)</li>
        <li>God Is Able (2011)</li>
        <li>Cornerstone (2012)</li>
        <li>Glorious Ruins (2013)</li>
        <li>No Other Name (2014)</li>
        <li>Open Heaven / River Wild (2015)</li>
        <li>Let There Be Light (2016)</li>
        <li>The Peace Project (2017)</li>
        <li>There Is More (2018)</li>
        <li>Awake (2019)</li>
        <li>Take Heart (Again) (2020)</li>
        <li>These Same Skies (2021)</li>
      </ul>
    </div>

  </body>
</html>
